/* Annimations */

@keyframes blinker {
  50% {
    transform: rotateY(15deg);
  }
}

/* Gets rid of the annoying padding and margin that is automatically applied */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This fixes the problem with position absolute background coloring */
/* Without this I would try to use background-color, but it would not work becuase it did not register any hieght in the page */
html {
  height: 100%;
}

body {
  background: linear-gradient(
    to bottom,
    hsl(50, 86%, 77%),
    hsl(160, 20%, 63%),
    hsl(197, 43%, 78%)
  );

  position: absolute;
  width: 100%;
  height: 100%;
}

/* Header Styling */
header {
  width: 100%;
  background-color: hsl(56, 29%, 71%);
  height: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}

/* Button Styling */
button {
  background-color: hsl(56, 29%, 71%);
  border: none;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}

/* This makes the buttons change colors when you hover over them with your mouse */
button:hover {
  background-color: hsl(56, 50%, 71%);
}

a {
  font-size: 20px;
  text-decoration: none;
}

/* Image styling - Made them all the same hieght and added rounded edges */
img {
  border-radius: 3rem;
  transition: 2s ease-in-out;
}

img:hover {
  transition: 2s ease-in-out;
  /* transform: rotateY(15deg); */
  animation: blinker 2s ease-in-out infinite;
}

/* Table Styling */
td {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

th {
  font-size: 25px;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* This is specifically for the pages using glass design */
main {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Attemting to add a page with glass website design */
.glass {
  padding-top: 50px;
  width: 80%;
  min-height: 80vh;
  background: linear-gradient(
    to right bottom,
    hsla(193, 87%, 30%, 0),
    hsla(193, 85%, 21%, 0.1)
  );
  border-radius: 2rem;
  backdrop-filter: blur(0.5rem);
  border: 1px solid hsla(193, 85%, 21%, 0.1);
  box-shadow: 0 8px 12px 0 hsla(193, 85%, 21%, 0.1);
  overflow: hidden;
}

/* Just a container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Youtube videos */
iframe {
  padding: 10px;
}

/* This is the flexbox portion in the photos page */
#flexRow1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
#flexRow2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
}

/* Just changing up the image sizes */
.img-1 {
  height: 500px;
}
.img-2 {
  height: 300px;
}
.img-3 {
  height: 450px;
}
.img-4 {
  height: 400px;
}

.img-5 {
  height: 300px;
}

.img-6 {
  height: 500px;
}
.img-7 {
  height: 300px;
}
.img-8 {
  height: 450px;
}
.img-9 {
  height: 400px;
}

.img-10 {
  height: 500px;
}

.img-11 {
  height: 400px;
}
